.checkbox {
    opacity: 0;
    position: absolute;
}

.page-controls-row-action .text-field:disabled,
.checkbox:disabled+label {
    cursor: not-allowed;
}

.checkbox,
.checkbox+label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.checkbox+label {
    position: relative;
    outline: none;
    user-select: none;
}

.checkbox+label::before {
    position: absolute;
    content: '\2713';
    display: inline-block;
    right: -35px;
    top: -9px;
    color: green;
    font-size: 30px;
    line-height: 30px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked+label::before {
    -webkit-transform: scale(1);
    transform: scale(1);
}