.checkbox {
    opacity: 0;
    position: absolute;
}

.page-controls-row-action .text-field:disabled,
.checkbox:disabled+label {
    cursor: not-allowed;
}

.checkbox,
.checkbox+label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.checkbox+label {
    position: relative;
    outline: none;
    user-select: none;
}

.checkbox+label::before {
    content: '';
    position: absolute;
    top: -4px;
    right: -30px;
    width: 20px;
    height: 20px;
    background: rgba(76, 175, 80, 0.9);
    -webkit-clip-path: polygon( 45% 64%, 84% 14%, 100% 28%, 47% 100%, 0 49%, 15% 32%);
    clip-path: polygon(45% 64%, 84% 14%, 100% 28%, 47% 100%, 0 49%, 15% 32%);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
}

.checkbox:checked+label::before {
    -webkit-transform: scale(1);
    transform: scale(1);
}