body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: rgb(241, 241, 241);
}

.highlite {
    background: rgba(168, 240, 170, 0.4);
}

.no-styles-after-render {
    display: none;
    text-align: center;
    padding: 10px 0;
    color: red;
    background: rgba(255, 0, 0, 0.1);
    font-weight: bold;
    font-size: 1.3em;
}

.info-block {
    margin: 0px auto 25px;
    text-align: center;
}

.info-block p {
    max-width: 900px;
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: left;
}

.repo-link {
    color: rgb(76, 175, 80);
    font-size: 1.3em;
}

.react-layout-components--box {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.example-space {
    padding: 15px;
    padding-top: 0;
    position: relative;
}

.loading {
    font-size: 2em;
}

.empty-time-container {
    display: none !important;
}

.time-container+.time-container {
    margin-top: 10px;
}

.time-container {
    display: flex;
    /*height: 50px;*/
    justify-content: center;
}

.components {
    margin-top: 10px;
}

.time {
    font-size: 1.5em;
    color: #551a8b;
    margin-right: 25px;
}

.render-time {
    font-size: 1.5em;
    color: #f53;
}

.time-container.first-render .time {
    font-weight: bold;
    color: #300656;
}

.time-container.first-render .render-time {
    font-weight: bold;
    color: #b51d00;
}

.controlls-space {
    padding: 15px;
    background: #f1f1f1;
}

.controlls-space button {
    border: none;
    font-size: 0.9em;
    margin: 0 10px;
    background: rgb(76, 175, 80);
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    padding: 5px 10px;
    min-width: 100px;
    color: #fff;
    height: 31px;
    box-sizing: border-box;
}

.controlls-space.controlls-inputs {
    justify-content: center;
    align-items: baseline;
    background: rgba(168, 240, 170, 0.4);
    margin: 0 15px;
}

.controlls-space.controlls-inputs>div {
    margin-right: 20px;
}

.controlls-space button:hover {
    background: rgba(76, 175, 80, 0.9);
}

.controlls-space button:disabled,
.controlls-space button:disabled:hover {
    background: #f1f1f1;
    cursor: not-allowed;
    color: #505050;
    border: 1px solid #505050;
}

.controlls-space {
    font-family: 'Roboto';
    font-size: 18px;
}

.github-link-text {
    font-size: 20px;
    text-align: center;
}

.controlls-item {
    margin: 0 auto 15px;
    max-width: 600px;
    align-items: center;
}

.controlls-item-text {
    width: 305px;
}

.gh-link-block {
    margin-bottom: 15px;
}

.gh-link-block a.gh-link {
    font-weight: bold;
    color: #f53;
    font-size: 1.1em;
    font-family: monospace;
}

.soruce-link {
    color: #000;
    margin-right: 15px;
}

.controlls-space input[type='text'] {
    outline: none;
    border: 1px solid #505050;
    border-radius: 3px;
    font-size: 1em;
    font-family: 'Roboto';
    color: #505050;
    padding: 5px;
    margin: 0 5px;
    background: none;
    height: 31px;
    box-sizing: border-box;
}

.controlls-space input[type='checkbox'] {
    opacity: 0;
    position: absolute;
}

.controlls-space input[type='checkbox'],
.controlls-space input[type='checkbox']+label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.controlls-space input[type='checkbox']+label {
    position: relative;
    outline: none;
    user-select: none;
}

.controlls-space input[type='checkbox']+label::before {
    content: '';
    background: #fff;
    border: 3px solid #fff;
    display: inline-block;
    vertical-align: middle;
    width: 23px;
    height: 23px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
    box-sizing: border-box;
}

.controlls-space input[type='checkbox']:checked+label::before {
    /*background: #222;*/
    background: rgb(76, 175, 80);
}

.nav-holder {
    background: rgb(51, 51, 51);
    padding: 15px 15px 0;
    margin-bottom: 30px;
    position: relative;
}

.nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: center;
    height: 0;
    overflow: hidden;
}

.nav-inner {
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: center;
}

.nav-inner .nav-item-link {
    padding-left: 25px;
    font-size: 13px;
}

.nav--active {
    height: auto;
    overflow: visible;
}

.nav-item {
    flex: none;
    position: relative;
}

.nav-item-link {
    color: #ccc;
    padding: 10px 15px;
    text-decoration: none;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 14px;
    border-radius: 3px;
    display: block;
    position: relative;
    cursor: pointer;
}

span.nav-item-link::before {
    position: absolute;
    right: 15px;
    top: 15px;
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ccc;
}

.nav-item-link:hover {
    color: #fff;
    text-decoration: underline;
}

.nav-item:last-child::after {
    display: none;
}

.header-btn {
    position: absolute;
    right: 10px;
    top: 20px;
    padding: 7px 25px 8px 0;
    background-color: transparent;
    border: 0;
    outline: none;
    display: block;
    cursor: pointer;
}

.header-btn span,
.header-btn span::before,
.header-btn span::after {
    cursor: pointer;
    border-radius: 1px;
    height: 2px;
    width: 24px;
    background-color: #fff;
    position: absolute;
    display: block;
    content: '';
    transition: all 100ms ease-in-out;
}

.header-btn span::before {
    top: -6px;
}

.header-btn span::after {
    bottom: -6px;
}

.header-btn--active span {
    background-color: transparent;
}

.header-btn--active span::before,
.header-btn--active span::after {
    top: 0;
    background-color: #fff;
}

.header-btn--active span::before {
    transform: rotate(45deg);
}

.header-btn--active span::after {
    transform: rotate(-45deg);
}

@media only screen and (min-width: 1025px) {
    .header-btn {
        display: none;
    }
    .nav {
        display: flex;
        height: auto;
        overflow: visible;
    }
    .nav--active {
        height: auto;
        overflow: visible;
    }
    .nav-holder {
        padding: 30px 0 15px;
    }
    .nav-item::after {
        display: block;
        width: 1px;
        content: '';
        background: #ccc;
        height: 30px;
        position: absolute;
        top: 0;
        right: 0;
    }
    span.nav-item-link::before {
        display: none;
    }
    .nav-inner {
        display: none;
        position: absolute;
        top: 35px;
        background: rgb(51, 51, 51);
        width: 250px;
        padding: 20px 0 15px;
    }
    .nav-item:hover>.nav-inner {
        display: block;
    }
    .nav-inner .nav-item::after {
        display: none;
    }
}