body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.highlite {
  background: rgba(255, 230, 0, 0.33);
}

.info-block {
  margin: 25px auto;
  text-align: center;
}

.info-block p {
  width: 650px;
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: left;
}

.repo-link {
  display: block;
  font-size: 2em;
}

.react-layout-components--box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.example-space {
  padding: 25px;
  position: relative;;
}

.loading {
  font-size: 2em;
}

.empty-time-container {
  display: none;
}

.time-container {
  display: flex;
  height: 50px;
  justify-content: center;
}

.time {
  font-size: 1.5em;

  color: #551a8b;
  margin-right: 25px;
}

.render-time {
  font-size: 1.5em;

  color: #f53;
}

.time-container.first-render .time {
  font-weight: bold;
  color: #300656;
}

.time-container.first-render .render-time {
  font-weight: bold;
  color: #b51d00
}

.controlls-space {
  padding: 15px;
  background: #f1f1f1;
}

.controlls-space button {
  border: 2px solid #000;
  font-size: 0.8em;
  margin: 0 10px;
  background: #ffc107;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.controlls-space.controlls-inputs {
  justify-content: center;
  align-items: baseline;
  background: rgba(173, 162, 247, 0.2);
}

.controlls-space.controlls-inputs > div {
  margin-right: 20px;
}

.controlls-space button:hover {
  background: #ffdc74;
}

.controlls-space button:disabled, .controlls-space button:disabled:hover {
  background: #f1f1f1;
  cursor: not-allowed;
  color: #505050;
  border: 2px solid #ccc;
}

.gh-link-block {
  background: #f1f1f1;
  padding: 0 0 15px 0;
}

.gh-link-block a.gh-link {
  font-weight: bold;
  color: #f53;
  font-size: 2em;
  font-family: monospace;
}

.soruce-link {
  color: #000;
  margin-right: 15px;
}

.controlls-space input[type="text"] {
  outline: none;
  border: none;
  border-bottom: 2px solid #505050;
  font-size: 1em;
  font-weight: bold;
  color: #505050;
  padding: 5px 0;
  margin: 0 5px;
  background: none;
}

.controlls-space input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.controlls-space input[type="checkbox"], .controlls-space input[type="checkbox"] + label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}

.controlls-space input[type="checkbox"] + label {
  position: relative;
  outline: none;
  user-select: none;
}

.controlls-space input[type="checkbox"] + label::before {
  content: '';
  background: #fff;
  border: 2px solid #fff;
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  padding: 2px;
  margin-right: 10px;
  text-align: center;
}

.controlls-space input[type="checkbox"]:checked + label::before {
  /*background: #222;*/
  background: #673ab7;
}
